body {
    background-color: #47d1d1;
}

.card {
    color: white;
}

.text {
    color: rgb(0, 0, 0);
   
}

.Button {
    background-color: #53c68c;
    color: white;
    background-image: linear-gradient(to right, #53c68c , #51989b);
}

.welcomeBody {
    background-color:  #47d1d1;
}